<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.guma.desarrollo.gvm">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="com.google.android.gms.permission.ACTIVITY_RECOGNITION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icono_gvm"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.DashboardActivity"
            android:label="@string/app_name_full"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.ArticulosActivity"
            android:label="@string/text_articulos"
            android:parentActivityName=".activities.DashboardActivity"
            android:theme="@style/AppThemeAzul">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="android:support.PARENT_ACTIVITY"
                android:value=".activities.DashboardActivity" />
        </activity>
        <activity
            android:name=".activities.ClientesActivity"
            android:label="@string/text_clientes"
            android:parentActivityName=".activities.DashboardActivity"
            android:theme="@style/AppThemeAzul">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="android:support.PARENT_ACTIVITY"
                android:value=".activities.DashboardActivity" />
        </activity>
        <activity
            android:name=".activities.MesActualActivity"
            android:label="@string/text_mes_actual"
            android:parentActivityName=".activities.DashboardActivity"
            android:theme="@style/AppThemeAzul">
            <meta-data
                android:name="android:support.PARENT_ACTIVITY"
                android:value=".activities.DashboardActivity" />
        </activity>
        <activity
            android:name=".activities.UltimosMesesActivity"
            android:label="@string/text_3_meses"
            android:parentActivityName=".activities.DashboardActivity"
            android:theme="@style/AppThemeAzul">
            <meta-data
                android:name="android:support.PARENT_ACTIVITY"
                android:value=".activities.DashboardActivity" />
        </activity>
        <activity
            android:name=".activities.ClienteDetalleActivity"
            android:parentActivityName=".activities.ClientesActivity"
            android:theme="@style/AppThemeAzul">
            <meta-data
                android:name="android:support.PARENT_ACTIVITY"
                android:value=".activities.ClientesActivity" />
        </activity>
        <activity android:name=".activities.QRActivity" />
        <activity android:name=".activities.ResultQrActivity" />
        <activity
            android:name=".activities.HistorialActivity"
            android:theme="@style/AppThemeAzul" />
        <activity
            android:name=".activities.DetalleArticulosActivity"
            android:theme="@style/AppThemeAzul" />
        <activity
            android:name=".activities.ListasMedicosFarmaciasActivity"
            android:label="@string/title_activity_listas_medicos_farmacias"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activities.AddFarmaciasActivity"
            android:label="@string/title_activity_add_medicos"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activities.AddMedicosActivity"
            android:label="@string/title_activity_add_farmacia"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activities.DetalleContactoActivity"
            android:label="@string/title_activity_detalle_contacto"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activities.LocationActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">

            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>

        <service
            android:name=".activities.DetectedActivitiesIntentService"
            android:exported="false" />

        <activity
            android:name=".activities.ReporteHistorialActivity"
            android:label="@string/title_activity_reporte_historial"
            android:theme="@style/AppTheme"></activity>
    </application>

</manifest>